<script>
	import '../app.pcss';
	import { Navbar, NavBrand, NavLi, NavUl, NavHamburger, Toast } from 'flowbite-svelte';
	import { SvelteToast } from '@zerodevx/svelte-toast';
	import { onMount } from 'svelte';
	import { init_backend } from '$lib/utils';

	onMount(() => {
		init_backend();
	});
	let hidden = true;
</script>

<div>
	<Navbar>
		<NavHamburger></NavHamburger>
		<NavUl>
			<NavLi href="/">Items</NavLi>
			<NavLi href="/categories.html">Categories</NavLi>
		</NavUl>
	</Navbar>
	<SvelteToast />
	<slot />
</div>
