<script>
	import { call_backend, get_categories, get_items } from '$lib/utils';
	import AddItem from '$lib/AddItem.svelte';
	import { onMount } from 'svelte';
	import {
		Input,
		NumberInput,
		Table,
		TableBody,
		TableBodyCell,
		TableBodyRow,
		TableHead,
		TableHeadCell,
		TableSearch
	} from 'flowbite-svelte';
	import { Label, Select, Button, Dropdown, DropdownItem } from 'flowbite-svelte';

	onMount(() => {
		setup_items();
	});

	async function setup_items() {
		// Ensure to have the categories first
		categories = await get_categories();
		if (categories == null) return;
		categories_with_none = [{ value: 0, name: 'All' }, ...categories];

		// Get the items
		let json = await get_items();
		if (json == null) return;

		items = json.map((x) => {
			x.category = categories.find((cat) => cat.value == x.category_id).name;
			return x;
		});
	}

	async function update_quantity(item) {
		if (item.quantity === '0') {
			await call_backend('DELETE', `/item/${item.id}`, null, 'Failed to delete item', true);
		} else {
			await call_backend(
				'PUT',
				`/item/${item.id}/quantity/${item.quantity}`,
				null,
				'Failed to update quantity',
				true
			);
		}
		setup_items();
	}

	let open = false;
	let items = [];
	let categories = [];
	let categories_with_none = [];
	let filtered_category = 0;
	let searchTerm = '';
	$: filteredItems = items.filter((item) => {
		let category = filtered_category === 0 || item.category_id == filtered_category;
		let name = item.name.toLowerCase().indexOf(searchTerm.toLowerCase()) !== -1;
		return name && category;
	});
</script>

<div>
	<div class="container">
		<AddItem bind:categories />
		<Label class="space-y-2 text-right">
			<span>Category</span>
			<Select class="mt-2" items={categories_with_none} bind:value={filtered_category} />
		</Label>
	</div>
	<TableSearch placeholder="Search by name" hoverable={true} bind:inputValue={searchTerm}>
		<TableHead>
			<TableHeadCell>Name</TableHeadCell>
			<TableHeadCell>Quantity</TableHeadCell>
			<TableHeadCell>Category</TableHeadCell>
			<TableHeadCell>Last Modification</TableHeadCell>
		</TableHead>
		<TableBody class="divide-y">
			{#each filteredItems as item}
				<TableBodyRow>
					<TableBodyCell>{item.name}</TableBodyCell>
					<TableBodyCell>
						<NumberInput on:change={() => update_quantity(item)} bind:value={item.quantity} />
					</TableBodyCell>
					<TableBodyCell>{item.category}</TableBodyCell>
					<TableBodyCell>{item.last_modification}</TableBodyCell>
				</TableBodyRow>
			{/each}
		</TableBody>
	</TableSearch>
</div>

<style>
	.container {
		column-count: 3;
	}
</style>
