<script>
	import { Select, Button, Modal, Label, Input, NumberInput } from 'flowbite-svelte';
	import { call_backend } from '$lib/utils';

	async function submit() {
		let json = await call_backend(
			'PUT',
			'/item',
			{
				name: name,
				quantity: quantity,
				category_id: category
			},
			'Failed to create new item'
		);
		if (json !== null) {
			location.reload();
		}
	}

	let form_modal = false;
	export let categories = [];
	let category = null;
	let name = '';
	let quantity = 0;
</script>

<span>
	<Button on:click={() => (form_modal = true)}>Add Item</Button>

	<Modal bind:open={form_modal} size="xs" autoclose={false} class="w-full">
		<form class="flex flex-col space-y-6" action="#">
			<h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add a new item</h3>
			<Label class="space-y-2">
				<span>Name</span>
				<Input type="text" name="name" bind:value={name} required />
			</Label>
			<Label class="space-y-2">
				<span>Quantity</span>
				<NumberInput name="quantity" bind:value={quantity} required />
			</Label>
			<Label class="space-y-2">
				<span>Category</span>
				<Select class="mt-2" items={categories} bind:value={category} />
			</Label>
			<Button on:click={submit} type="submit" class="w-full1">Add</Button>
		</form>
	</Modal>
</span>
